@media (max-width: 1199px) {
    .container {
        width: 100%;
        padding: 0px 15px;
    }

    .first-header {
        max-width: 802px;
        margin-bottom: 30px;
        font-size: 50px;
    }
    
    .first-image {
        height: 400px;
    }

    .first-text {
        left: 42px;
        bottom: 30px;
    }

    .about__text {
        max-width: 690px;
        font-size: 35px;
        line-height: 48px;
    }

    .card__image {
        max-width: 100%;
    }

    .card__name {
        font-size: 25px;
        line-height: 34px;
        margin-bottom: 10px;
    }

    .card__link {
        margin-bottom: 80px;
    }

    .projects__button {
        width: 100%;
    }

    .services__card-image {
        margin-bottom: 15px;
    }

    .services__card-text {
        font-size: 20px;
    }

    .services__button {
        width: 100%;
        margin: 70px 0px 120px 0px;
    }

    .reviews__examples {
        column-gap: 10px;
    }
    .reviews__examples-name {
        width: calc(50% - 5px);
    }
    .name-width {
        width: 694px;
    }

    .reviews__project-name {
        margin-bottom: 25px;
        font-size: 35px;
        line-height: 48px;
    }

    .reviews__project-text {
        max-height: 350px;  
        font-size: 20px;
        line-height: 28px;
    }

    .gallery__header {
        top: 80px;
        font-size: 20px;
        line-height: 28px;
    }

    .gallery__slides {
        height: 536px;
    }

    .gallery__slide-text {
        bottom: 80px;
        font-size: 25px;
        line-height: 34.15px;
    }    

    .gallery__controls-wrapper,
    .gallery__slide-text,
    .gallery__title-wrapper {
        padding-left: 35px;
    }

    .contacts__tel, .contacts__mail {
        font-size: 45px;
    }
}

@media (max-width: 767px) {
    .section {
        margin-bottom: 120px;
    }

    .first-header {
        max-width: 100%;
        margin-bottom: 25px;
        font-size: 30px;
        line-height: 31.62px;
    }

    .first-text {
        left: 15px;
        bottom: 15px;
        width: 312px;
        height: 88px;
        font-size: 16px;
        line-height: 21.86px;
    }
    
    .services__cards {
        row-gap: 60px;
    }

    .card {
        width: 100%;
    }

    .services__card-image {
        min-height: 240px;
    }

    .reviews__examples {
        flex-direction: column;
    }

    .reviews__examples-name {
        width: 100%;
    }
    
    .contacts__buttons {
        flex-direction: column;
        gap: 60px;
    }

    .contacts__tel {
        max-width: 276px;
        font-size: 35px;
        line-height: 46px;
    }

    .contacts__mail {
        max-width: 240px;
        font-size: 35px;
        line-height: 46px;
    }

    .contacts__tel::before,
    .contacts__mail::before {
        width: 18px;
        height: 18px;
        top: -20px;
    }   


    .popup__content {   
        margin: 0px 15px;
        padding: 40px 24px 80px 16px;
        width: 100%;
        height: 610px;
    }

    .popup__title {
        font-size: 25px;
        line-height: 34px;
    }

    .popup__subtitle {
        font-size: 14px;
        line-height: 19px;
    }

    .popup__input-wrapper {
        margin: 60px 0px;
        gap: 40px;
    }

    .popup__input {
        font-size: 18px;
        line-height: 25px;
    }

    .popup__close {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    .header__menu-list {
        display: none;
    }

    .burger-btn {
        position: absolute;
        right: 40px;
        width: 35px;
        height: 35px;
        background-image: url("/img/Group\ 22.png");
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
    }

    .burger-btn_open {
        z-index: 100;
        background-image: url("/img/radix-icons_cross-2.png");   
    }

    .burger {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: end;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease;
    }
    
    .burger_open {
        opacity: 1;
        visibility: visible;
    }
    
    .burger__content {
        padding: 80px 30px 60px 30px;   
        width: 80%;
        height: 100%;
        background-color: #fff;
    }
}

@media (max-width: 500px) {
    .container {
        width: 100%;
        padding: 0px 13px;
    }

    .first-image {
        height: 304px;
    }
    .header {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 20px;
    }
    .about__text {
        width: 100%;
        font-size: 22px;
        line-height: 30px;
    }

    .about__button {
        width: 100%;
        min-height: 51px;
        border-radius: 4px;
        font-size: 16px;
        line-height: 51px;
    }

    .card__image {
        height: 250px;
        margin-bottom: 20px;
    }

    .card__name {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 10px;
    }

    .card__link {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 50px;
    }

    .projects__button {
        font-size: 22px;
        height: 100px;
        line-height: 100px;
    }

    .services__card-text {
        top: 25px;
        left: 25px;
        height: 30px;
        font-size: 14px;
        line-height: 30px;
        border-radius: 3.8px;
    }

    .services__button {
        margin: 60px 0px 80px 0px;
        height: 100px;
        font-size: 22px;
        line-height: 100px;
    }

    .reviews__project-name {
        margin-bottom: 10px;
        font-size: 25px;
        line-height: 34.15px;
    }

    .reviews__project-text {
        max-height: 100%;
        font-size: 16px;
        line-height: 21.86px;
    }

    .gallery__title-wrapper {
        padding-left: 0px;
    }

    .gallery__header {
        top: 60px;
        font-size: 14px;
        line-height: 19px;
    }

    .gallery__slides {
        height: 408px;
    }

    .gallery__slide-text {
        width: 287px;
        padding-left: 0px;
        bottom: 60px;
        font-size: 19px;
        line-height: 26px;
    }    

    .gallery__controls-wrapper {
        padding: 0px 15px;
        width: 100%;
        bottom: 50%;
        justify-content: space-between;
    }

    .contacts__header {
        margin-bottom: 60px;
    }

    .footer__menu {
        gap: 30px;
    }

    .footer__list {
        margin: 30px 0px 40px 0px;
    }

    .footer__list-text {
        font-size: 12px;
        line-height: 17px;
    }

    .footer__description {
        font-size: 13px;
        line-height: 18px;
    }
}