* {
    font-family: "Manrope", serif;
    letter-spacing: -0.03em;
}

.body_fixed {
    overflow: hidden;
}

.section {
    margin-bottom: 150px;
}

.black {
    padding-top: 150px;
    background-color: #000;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__menu {
    margin-bottom: 70px;
}

.header__wrapper {
    display: flex;
    padding-top: 33px;
    justify-content: space-between;
}

.header__logo {
}

.header__menu-list {
    display: flex;
    gap: 60px;
}

.header__list-text {
    font-size: 18px;
    line-height: 25px;
    color: #121212;
    transition: border-color 0.3 ease;
}

.header__list-text:hover {
    opacity: 0.5;
    border-bottom: 1px solid #121212;
}


.first-header {
    max-width: 956px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
}

.first-image {
    width: 100%;
    height: 500px;
    position: relative;
    background-image: url('/img/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.first-text {
    width: 430px;
    height: 80px;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.03em;
    color: #fff;

    position: absolute;
    left: 40px;
    bottom: 40px;
}

.header {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
}

.about__text {
    margin-bottom: 30px;
    max-width: 1050px;
    font-size: 45px;
    line-height: 62px;
    letter-spacing: -0.03em;
}

.about__button {
    display: inline-block;
    min-width: 255px;
    min-height: 67px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 67px;
    background-color: #AD1818;
}

.card__image {
    max-width: 1150px;
    max-height: 450px;
    margin-bottom: 15px;
}

.card__name {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    font-weight: 400;
}

.card__link {
    display: block;
    margin-bottom: 90px;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.03em;
    color: #AD1818;
}

.projects__button {
    display: inline-block;
    width: 1150px;
    height: 153px;
    font-size: 30px;
    line-height: 153px;
    text-align: center;
    border: 1px solid #AD1818;
    border-radius: 5px;
    color:#AD1818;  
    transition: background-color 0.3s ease;
}

.projects__button:hover {
    color: #fff;
    background-color: #AD1818;
}


.services__cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 80px;
}

.card {
    width: calc(50% - 5px);
    position: relative;
}

.services__card-image {
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 25px;
}

.services__card-text {
    display: inline-block;
    padding: 0px 20px;
    position: absolute;
    top: 30px;
    left: 30px;
    height: 40px;
    text-align: center;
    background-color: #AD1818;
    border-radius: 5px;
    font-size: 22px;
    line-height: 40px;
    color: #fff;
    letter-spacing: -0.03em;
}

.white {
    color: #fff;
}

.services__button {
    margin: 104px 0px 150px 0px;
    display: inline-block;
    width: 1150px;
    height: 153px;
    font-size: 30px;
    line-height: 153px;
    text-align: center;
    border: 1px solid #AD1818;
    border-radius: 5px;
    background-color: #AD1818;
    color: #fff;
}


.reviews__examples {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 80px;
}

.reviews__examples-name {
    width: calc(48% - 25px);    
}

.name-width {
    width: 861px;
}

.reviews__project-name {
    margin-bottom: 15px;
    font-size: 45px;
    line-height: 62px;
    letter-spacing: -0.03em;
}

.reviews__project-text {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.03em;
}

.gallery {
    position: relative;
    width: 100%;
}

.gallery__header {
    position: absolute;
    top: 60px;
    color: #fff;
    z-index: 100; 
    font-size: 22px;
    line-height: 30px;
}

.gallery__slides {
    width: 100%;
    height: 720px;
    position: relative;
}

.gallery__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.gallery__slide_active {
    opacity: 1;
}

.gallery__slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__slide-text {
    position: absolute;
    bottom: 60px;
    width: 443px;
    font-size: 30px;
    color: #fff;
    line-height: 41px;
}

.gallery__controls-wrapper {
    position: absolute;
    bottom: 165px;
    display: flex;
    gap: 15px;
    z-index: 100;
}

.gallery__control-prev:hover, 
.gallery__control-next:hover {
    opacity: 0.5;
}

.contacts__header {
    margin-bottom: 75px;
}

.contacts__buttons {
    display: flex;
    flex-direction: row;
    gap: 105px;
}

.contacts__mail,
.contacts__tel {
    padding-bottom: 10px;
    position: relative;
    font-size: 60px;
    line-height: 60px;
    color: #121212;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.contacts__tel:hover,
.contacts__mail:hover {
    color: rgba(18, 18, 18, 0.5);
    border-bottom: 2px solid rgba(18, 18, 18, 0.5); 
}

.contacts__tel::before {
    content: '';
    position: absolute;
    display: block;
    background: url('/img/ic_outline-phone-iphone.png');
    background-size: cover;
    top: -40px;
    width: 24px;
    height: 24px;
}

.contacts__mail::before {
    content: '';
    position: absolute;
    display: block;
    background: url('/img/material-symbols_mail-outline-rounded.png');
    background-size: cover;
    top: -35px;
    width: 24px;
    height: 24px;
    opacity: 1;
}

.footer {
    background-color: #121212;
}

.footer__menu {
    display: flex;
    justify-content: center;
    gap: 55px;
}

.footer__list {
    margin: 60px 0px 90px 0px;
}

.footer__list-text {
    font-size: 18px;
    line-height: 25px;
    color: #fff;
}

.footer__list-text:hover {
    opacity: 0.5;
}

.footer__description {
    padding-bottom: 30px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    opacity: 0.5;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
}

.popup_open {
    opacity: 1;
    visibility: visible;
}

.popup__content {
    width: 780px;
    height: 710px;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 32px 75px 80px 55px;
}

.popup__title {
    margin: 0 auto;
    font-size: 45px;
    line-height: 62px;
}

.popup__subtitle {
    margin: 0 auto;
    font-size: 18px;
    line-height: 25px;
}

.popup__input-wrapper {
    margin: 60px 0px 80px 0px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 50px;
}

.popup__input {
    display: block;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid black;
}

.popup__close {
    margin-left: auto;
    width: 50px;
    height: 50px;
}

.popup__send {
    padding: 20px 0px;
    width: 100%;
    height: 67px;
    font-size: 20px;
    color: #fff;
    background-color:#AD1818;
    border-radius: 5px;
}